<div class="container">
    <div class="body">
        <div #etazhArea class="svg-block">
        </div>
        <div class="img-block">
            <img src="./assets/img/building.jpg" alt="" #seletazhImg class="img">
        </div>
    </div>
</div>

<div #etazhinfo class="popup">
    <div class="etazh-caption">
        <h1 #etazhNo>10</h1>
        <h2>этаж</h2>
    </div>
    <div class="flat-qty">
        <span #fqtycap>квартир в продаже:</span>
        <span #fqty1 class="count">6</span>
    </div>
</div>